*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Quicksand', sans-serif; 
}

body{
    width: 100%;
    height: 100vh;
}

.container{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 100px;
}
.container::before{
    content: '';
    content: absolute;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url('background.jpg') no-repeat center;
    background-size: cover;
    z-index: -1;
    filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.911);
}

.contact-box{
    max-width: 860px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.3);
}

.left{
    height: 100%;
    background: url('background.jpg') no-repeat center;
    background-size: cover;
}

.right{
    padding: 30px 45px;
}

h2{
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 1rem;
}

h2:after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #20cc67;
} 

.field{
    width: 100%;
    padding: 0.5rem 1rem;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0);
    background-color: rgba(230, 230,230, 0.7);
    font-size: 1.1rem;
    margin-bottom: 25px;
    transition: .3s;
}

.field:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

.field:focus{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgba(30, 85, 250, 0.47);
}

/* último cuadro de texto del formulario, agrandado para que quepa la consulta */
.area{
    min-height: 150px;
}

.form-button{
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    background-color: #4cc6f7;
    cursor: pointer;
    outline: none;
    border: none;
    color: #fff;
    font-weight: bold;
    transition: .3s;
}

.form-button:hover{
    background-color: #1d98c9;
}
